/*NAVEGACION EMPLEADO*/
/* Reseteo de estilo base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #e0f7fa; /* Fondo suave color farmacia */
}

/* Estilo del tablero */
.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; /* Aumenté el espacio entre los elementos */
  max-width: 900px;
  width: 100%;
  padding: 30px; /* Agregué más espacio alrededor del tablero */
  background-color: #ffffff; /* Fondo blanco limpio */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; /* Añadí espacio debajo del dashboard */
}

/* Estilo para cada botón */
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-left: 15px; /* Aumenté el margen izquierdo para mayor separación */
  background-color: #4caf50; /* Verde suave */
  color: #ffffff;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Sombra para el botón */
  height: 150px;
}

.button i {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.button span {
  font-size: 1rem;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.05);
  background-color: #388e3c; /* Verde más oscuro en hover */
}

/* Enlace dentro del botón */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Estilo del contenedor title-navs */
.title-navs {
  width: 100%;
  text-align: center;
  margin-top: 100px; /* Espacio superior entre el dashboard y el título */
}

.title-navs h1 {
  font-size: 3rem;
  color: #333;
}

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {
  .dashboard {
      grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas más pequeñas */
      gap: 20px; /* Ajusté el espacio en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .dashboard {
      grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
      gap: 20px; /* Ajusté el espacio en pantallas muy pequeñas */
  }
}
